/* src/components/Sidebar.css */
.mini-sidebar {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 180px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    border-radius: 25px;
    padding: 40px 0;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 150px;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff5b3;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .menu-item:hover {
    background: rgba(255, 255, 255, 0.18);
    transform: scale(1.05);
  }
  
  
  .menu-item.active {
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid rgba(255, 240, 200, 0.4);
    transform: scale(1.05);
    color: #ffe699;
  }
  