.cart-page {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 60px;
    border-radius: 25px;
    color: white;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  }
  
  .cart-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  